@model GrapsTrack.Models.Performer

@{
    ViewBag.Title = "Details";
}
@*<h2>Details</h2>*@
<div>
    @*<h4>Performer</h4>
    <hr/>*@
    <dl class="dl-horizontal">
        <h3>
            <td>
                <a href="@Model.InfoLink">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</a>
            </td>
        </h3>
    </dl>
</div>
<br />
<p>
    <button>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </button>
</p>
