@model IEnumerable<GrapsTrack.Models.PerformerVm>

@{
    ViewBag.Title = "Index";
}

<h2 class="extra">Performers</h2>



@foreach (var item in Model.OrderBy(x => x.FirstName))
{
    <a href="@Url.Action("Details", new {id = item.Id})">
        <div class="row col-lg-4 col-md-6">
            <div class="link event">
                <h2 class="test">
                    @Html.DisplayFor(model => item.FullName)
                </h2>
            </div>
        </div>
    </a>
}
<br/>
<br/>

<footer>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</footer>


