@model IEnumerable<GrapsTrack.Models.EventVm>

@{
    ViewBag.Title = "Index";
}

<h3>Upcoming shows</h3>

@foreach (var item in Model.OrderBy(x => x.Date))
{
    <div class="event">
        <h1>
            <p class="bodytext">
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </p>
        </h1>
        <p>
            @Html.DisplayFor(modelItem => item.Date)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)
        </p>
    </div>
}
